/* custom styles */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center
}

.mt {
	margin-top: 80px;
}

.mb {
	margin-bottom: 10px;
}

/* ==========================================================================
   General styles
   ========================================================================== */


body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
    color: #4a4a4a;
}


.navbar-brand {
	font-weight: 700;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default {
	/*background-color: transparent;*/
	/*border-color: transparent;*/
  background-color: black;
  opacity: 0.5;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: white;
	background-color: transparent;
	border-bottom: 2px solid white;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {

	background: url(../imgs/img3.jpg) no-repeat center top;
	margin-top: 0px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
  /*opacity: 0.7;
  filter: alpha(opacity=50);*/

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 2px;
	font-size: 40px;
	font-weight: bold;
}

#headerwrap h4 {
	font-weight: 400;
	color: #ffffff
}



#footerwrap {
  padding-top: 20px;
	/*padding-top: 70px;*/
	/*padding-bottom: 50px;*/
	background-color: #2f2f2f;
  text-align: right;
}

#footerwrap p {
	color: #f2f2f2;
	margin-right: 10px;
}



#aboutwrap {
	background: url(../imgs/ricardo.jpg);
  background-repeat: no-repeat;
  width: 200px;
  margin: 0 auto;
  display: block;
	margin-top: 70px;
	padding-top: 100px;
  background-size: 200px;
  min-height: 200px;
  border-radius: 50%;
  text-align: center !important;



	/*background-attachment: relative;
	background-position: center;*/
  /*height: 100px;
	width: 100%;*/
/*
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}




/* Gallery */
.gallery {
	margin-top: 30px;
}

.gallery img:hover {
	opacity: 0.4;
}

/*social media*/
.social{
  color:white;
}

.social:hover {
  font-size:2em;
  transition: 1s ease-out;
  color:white;

}

.btn{
  margin:20px;
}
